
body {
    font-family: sans-serif;
}

.nyheter {
    max-width: 800px;
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.nyhet {
    background-color: #eee;
    padding: 1rem;
}

.nyhet-img {
    width: 100%;
}

.live {
    background-color: black;
}


.nyhet-link {
    color: #333;
    text-decoration: none;
}  

.live .nyhet-link {
    color: #eee; 
}

.live .nyhet-ingress {
    text-transform: uppercase;
    font-weight: 700;  
}

.live .nyhet-ingress::before {
    content: " ";
    background-color: red;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    border-radius: 50%; 
    opacity: 1;
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}